/*body
{
	background-image:url('/images/background.jpg');
	background-repeat:no-repeat;
	height: 300px;
	width: 500px;
	background-size:cover;
	margin: 20px auto;
}*/

#header
{
    text-align: center;
    width: 500px;
    border: solid 1px;
	margin: 0 auto;
}

#main
{
	
    /*border: solid 1px; padding: 0;*/
	background-image:url('images/background.jpg');
	background-repeat:no-repeat;
	background-position:center;
	height: 290px;
	
}

#mainForm
{
    text-align:center;
    /*border: solid 1px;*/
    width:250px;
    margin: auto;
}
/*html {
        background: url(LLD_background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}*/
